<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DeployerSettings" type="Tarantino.Deployer.Core.Services.Configuration.Impl.DeployerSettingsConfigurationHandler, Tarantino.Deployer.Core"/>
	</configSections>

	<DeployerSettings>
		<Applications>

			<Application Name="SampleApp1" ZipFile="SampleApp1File" Url="http://svn.com/SampleApp1" Username="user1" Password="password1">
				<Environments>
					<Environment Name="Development" />
					<Environment Name="Production" Predecessor="Development" />
				</Environments>
			</Application>

			<Application Name="SampleApp2" ZipFile="SampleApp2File" Url="http://svn.com/SampleApp2" Username="user2" Password="password2">
				<Environments>
					<Environment Name="Development" />
					<Environment Name="Production" Predecessor="Development" />
				</Environments>
			</Application>

		</Applications>
	</DeployerSettings>

	<connectionStrings>
		<add
			name="DatabaseConnectionString"
			connectionString="data source=.;Initial Catalog=TarantinoDeployer;Integrated Security=true;Connect Timeout=100"/>
	</connectionStrings>

	<appSettings>
		<add key="MappingAssemblies" value="Tarantino.Deployer.Infrastructure"/>
		<add key="ShowSql" value="false"/>
	</appSettings>
</configuration>