<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SleepTimeInMilliseconds" value="750" />
		
		<add key="SmtpServer" value="mail.austindataworks.net"/>
		<add key="SmtpSenderName" value="Framework"/>
		<add key="SmtpSenderAddress" value="tarantino@google.com"/>

	</appSettings>
</configuration>