<?xml version="1.0"?>

<configuration>

	<appSettings>
		<add key="SmtpServer" value="localhost" />		
		<add key="SmtpAuthenticationNecessary" value="false" />		
	</appSettings>

	<connectionStrings/>

	<system.web>
		<authentication mode="Forms">
			<forms name=".HEADSPSRING" loginUrl="Login.aspx" protection="All"	timeout="5256000"	path="/"/>
		</authentication>

		<authorization>
			<deny users="?" />
		</authorization>

		<compilation debug="true" />
	</system.web>

</configuration>