<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="DeployerSettings" type="Tarantino.Deployer.Core.Services.Configuration.Impl.DeployerSettingsConfigurationHandler, Tarantino.Deployer.Core"/>
	</configSections>

	<connectionStrings>
		<add name="DatabaseConnectionString" connectionString="Integrated Security=true;data source=.;Initial Catalog=Deployer;"/>
	</connectionStrings>

	<DeployerSettings>
		<Applications>

			<Application Name="SampleApp1" ZipFile="SampleApp1" Url="https://www.svn.com/SampleApp1/trunk/LatestVersion" Username="myUser" Password="myPassword">
				<Environments>
					<Environment Name="Development" />
					<Environment Name="QA" Predecessor="Development" />
					<Environment Name="Production" Predecessor="QA" />
				</Environments>
			</Application>

			<Application Name="SampleApp2" ZipFile="SampleApp2" Url="https://www.svn.com/SampleApp2/trunk/LatestVersion" Username="myUser" Password="myPassword">
				<Environments>
					<Environment Name="Development" />
					<Environment Name="QA" Predecessor="Development" />
					<Environment Name="Production" Predecessor="QA" />
				</Environments>
			</Application>

		</Applications>
	</DeployerSettings>

	<appSettings>
		<add key="MappingAssemblies" value="Tarantino.Deployer.Infrastructure"/>
		<add key="ShowSql" value="true"/>
	</appSettings>

</configuration>